.gif {
    border-radius: 25px !important;
}

.closebtn {
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}

.searchvalue {
    overflow: hidden;
    text-overflow: ellipsis;
}